Package: <%= "#{assigns.details["package"]}" %>
Reservation date: <%= "#{assigns.details["date"]}" %>
Reservation hours: <%= parse_hours(assigns.details) %>
name: <%= "#{assigns.details["name"]}" %>
Phone: <%= "#{assigns.details["phone"]}" %>
Email: <%= "#{assigns.details["email"]}" %>
Project details: <%= "#{assigns.details["comments"]}" %>