
Package: <%= "#{details["package"]}" %>
Reservation date: <%= "#{details["date"]}" %>
name: <%= "#{details["name"]}" %>
Phone: <%= "#{details["phone"]}" %>
Email: <%= "#{details["email"]}" %>
Project details: <%= "#{details["comments"]}" %>