<!DOCTYPE html>
<html lang="en">
  <head>

     <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107269269-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107269269-1');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Open Graph -->
    <meta property="og:locale" content="nl_NL" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:type" content="website" />

    <meta property="og:title" content="<%= @conn.assigns.title %>" />
    <meta property="twitter:title" content="<%= @conn.assigns.title %>" />
    <meta property="og:description" content="<%= @conn.assigns.og_description %>" />

    <meta property="og:site_name" content="Red Pack Productions" />
    
    <meta property="og:url" content="<%= get_current_url(@conn) %>" />
    <meta property="og:image" content="<%= static_url(@conn, "/images/rp_logo.png") %>" />
    <meta property="twitter:image" content="<%= static_url(@conn, "/images/rp_logo.png") %>" /> 

    <title>Red Pack Productions</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- <link href="https://fonts.googleapis.com/css?family=PT+Sans|Open+Sans" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">


  </head>

  <body>
    <div class="container">
      
      <div class="pre-header hidden-xs hidden-sm">
        <div class="language-container">
          <a href="<%= page_path(@conn, :locale, [locale: "en", redirect: @conn.request_path]) %>">
              <img src="<%= static_path(@conn, "/images/locale/en.png") %>" <%= if Plug.Conn.get_session(@conn, :locale) == "en" do %> class="active" <% end %>>
          </a>
          <a href="<%= page_path(@conn, :locale, [locale: "nl", redirect: @conn.request_path]) %>">
              <img src="<%= static_path(@conn, "/images/locale/nl.png") %>" <%= if Plug.Conn.get_session(@conn, :locale) == "nl" do %> class="active" <% end %>>
          </a>
        </div>
      </div>
      
     

      <header class="header">

       <img src="/images/rp_logo.png" class="header-logo-mobile hidden-md hidden-lg">

        <!-- MOBILE NAVIGATION -->
        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='<%= if @conn.request_path == "/" do %> nav-active <% end %>'
           href="/"><%= dgettext("general", "navigation-home") %></a>
        </div>

        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='nav-scroller <%= if @conn.request_path == "/packages" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #packages <% else %> /#packages <% end %>'><%= dgettext("general", "navigation-packages") %></a>
        </div>

        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='nav-scroller <%= if @conn.request_path == "" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #soundcloud <% else %> /#soundcloud <% end %>'><%= dgettext("general", "navigation-recordings") %></a>
        </div>
        
        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='nav-scroller <%= if @conn.request_path == "/samples" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #samples <% else %> /#samples <% end %>'><%= dgettext("general", "navigation-samples") %></a>
        </div>
        
        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='nav-scroller <%= if @conn.request_path == "/shop" do %> nav-active <% end %>'
           href='/shop'><%= dgettext("general", "navigation-shop") %></a>
        </div>

        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='nav-scroller <%= if @conn.request_path == "/contact" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #contact <% else %> /#contact <% end %>'><%= dgettext("general", "navigation-contact") %></a>
        </div>

        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='<%= if @conn.request_path == "/blog" do %> nav-active <% end %>'
           href="/blog"><%= dgettext("general", "navigation-blog") %></a>
        </div>

        <div class="navigation-item-mobile hidden-md hidden-lg">
          <a class='<%= if @conn.request_path == "/question" do %> nav-active <% end %>'
           href='/question'><%= dgettext("general", "navigation-faq") %></a>
        </div>

        <!-- Basket -->
          <%# <div class="navigation-item hidden-md hidden-lg bag">
            <div class="basket-container">
              <div class="basket-count">
                <p>0</p>
              </div>
              <div class="basket-icon">
                <span class="oi oi-box"></span>
              </div>
              <div class="basket-content">
                <h3>Products</h3>
                <div class="basket-products">
                  <ul>
                  </ul>
                </div>
                <p class="basket-total">TOTAL:</p>
                <p class="basket-total-amount">&euro; 0</p>
                <div class="clear"></div>
                <button class="basket-checkout">CHECKOUT</button>
              </div>
            </div>
          </div> %>

        <!-- DESKTOP NAVIGATION -->
        <!-- <div class="navigation-item hidden-xs hidden-sm">
          <a class='<%= if @conn.request_path == "/" do %> nav-active <% end %>'
           href="/"><%= dgettext("general", "navigation-home") %></a>
        </div> -->
        <div class="navigation-item-logo hidden-xs hidden-sm">
          <a href="/"><img src="/images/rp_logo.png"></a>
        </div>
        
        <!-- <div class="navigation-item-separator hidden-xs hidden-sm">|</div>-->

        <div class="navigation-item hidden-xs hidden-sm">
          <a class='nav-scroller <%= if @conn.request_path == "/packages" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #packages <% else %> /#packages <% end %>'><%= dgettext("general", "navigation-packages") %></a>
        </div>
        
        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>

        <div class="navigation-item hidden-xs hidden-sm">
          <a class='nav-scroller <%= if @conn.request_path == "" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #soundcloud <% else %> /#soundcloud <% end %>'><%= dgettext("general", "navigation-recordings") %></a>
        </div>

        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>

        <div class="navigation-item hidden-xs hidden-sm">
          <a class='nav-scroller <%= if @conn.request_path == "/samples" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #samples <% else %> /#samples <% end %>'><%= dgettext("general", "navigation-samples") %></a>
        </div>
        
        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>

        <%# <div class="navigation-item-logo hidden-xs hidden-sm">
          <a href="/"><img src="/images/rp_logo.png"></a>
        </div> %>
        
        <div class="navigation-item hidden-xs hidden-sm">
          <a class='nav-scroller <%= if @conn.request_path == "/shop" do %> nav-active <% end %>'
           href='/shop'><%= dgettext("general", "navigation-shop") %></a>
        </div>

        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>

        <div class="navigation-item hidden-xs hidden-sm">
          <a class='nav-scroller <%= if @conn.request_path == "/contact" do %> nav-active <% end %>'
           href='<%= if @conn.request_path == "/" do %> #contact <% else %> /#contact <% end %>'><%= dgettext("general", "navigation-contact") %></a>
        </div>

        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>

        <div class="navigation-item hidden-xs hidden-sm">
          <a class='<%= if @conn.request_path == "/blog" do %> nav-active <% end %>'
           href='/blog'><%= dgettext("general", "navigation-blog") %></a>
        </div>

        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>

        <div class="navigation-item hidden-xs hidden-sm">
          <a class='<%= if @conn.request_path == "" do %> nav-active <% end %>'
           href='/question'><%= dgettext("general", "navigation-faq") %></a>
        </div>

          <!-- Basket -->
          <div class="navigation-item bag">
            <div class="basket-container">
              <div class="basket-count">
                <p>0</p>
              </div>
              <div class="basket-icon">
                <span class="oi oi-box"></span>
              </div>
              <div class="basket-content">
                <h3>Products</h3>
                <div class="basket-products" data-pre-basket="<%= jsonfy(@basket) %>">
                  <ul>
                  </ul>
                </div>
                <p class="basket-total">TOTAL:</p>
                <p class="basket-total-amount">&euro; 0</p>
                <div class="clear"></div>
                <button class="basket-clear">CLEAR</button>
                <a href="/shop/checkout" class="basket-checkout">CHECKOUT</button>
              </div>
            </div>
          </div>

        <div class="hamburger hidden-md hidden-lg">
          
          <!-- MOBILE LANGUAGE -->
          <div class="language-container-mobile">
            <ul>
              <li>
                <a href="<%= page_path(@conn, :locale, [locale: "en", redirect: @conn.request_path]) %>">
                    <img src="<%= static_path(@conn, "/images/locale/en.png") %>" <%= if Plug.Conn.get_session(@conn, :locale) == "en" do %> class="active" <% end %>>
                </a>
              </li>
              <li>
                <a href="<%= page_path(@conn, :locale, [locale: "nl", redirect: @conn.request_path]) %>">
                    <img src="<%= static_path(@conn, "/images/locale/nl.png") %>" <%= if Plug.Conn.get_session(@conn, :locale) == "nl" do %> class="active" <% end %>>
                </a>
              </li>
            </ul>
          </div>

            <div id="hamburger-icon">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
        </div>

      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <div class="front-footer">
        <p>COPYRIGHT 2018</p>
      </div>

    </div> <!-- /container -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7ebJUXWlI9Qz4na2YB3H2s3zu_Pe0kYU"></script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
  </body>
</html>
