<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello RedPackProductions!</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      
      <div class="pre-header hidden-xs hidden-sm">
        
      </div>
      
      <img src="/images/rp_logo.png" class="header-logo-mobile hidden-md hidden-lg">

      <header class="header">

        <div class="navigation-item-mobile hidden-md hidden-lg"><a class='<%= if @conn.request_path == "/" do %> nav-active <%= end %>' href="/">HOME</a></div>
        <div class="navigation-item-mobile hidden-md hidden-lg"><a class='<%= if @conn.request_path == "/contact" do %> nav-active <%= end %>' href="/contact">CONTACT</a></div>
        <div class="navigation-item-mobile hidden-md hidden-lg"><a class='<%= if @conn.request_path == "" do %> nav-active <%= end %>' href="#">MEDIA</a></div>
        <div class="navigation-item-mobile hidden-md hidden-lg"><a class='<%= if @conn.request_path == "" do %> nav-active <%= end %>' href="#">RECORDINGS</a></div>
        <div class="navigation-item-mobile hidden-md hidden-lg"><a class='<%= if @conn.request_path == "/samples" do %> nav-active <%= end %>' href="/samples">SAMPLES</a></div>
        <div class="navigation-item-mobile hidden-md hidden-lg"><a class='<%= if @conn.request_path == "/instruments" do %> nav-active <%= end %>' href="/instruments">REFURBISHED INSTRUMEMTS</a></div>


        <div class="navigation-item hidden-xs hidden-sm"><a class='<%= if @conn.request_path == "/" do %> nav-active <%= end %>' href="/">HOME</a></div>
        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>
        <div class="navigation-item hidden-xs hidden-sm"><a class='<%= if @conn.request_path == "/contact" do %> nav-active <%= end %>' href="/contact">CONTACT</a></div>
        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>
        <div class="navigation-item hidden-xs hidden-sm"><a class='<%= if @conn.request_path == "" do %> nav-active <%= end %>' href="#">MEDIA</a></div>
        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>
        <div class="navigation-item hidden-xs hidden-sm"><a class='<%= if @conn.request_path == "" do %> nav-active <%= end %>' href="#">RECORDINGS</a></div>
        <div class="navigation-item-logo hidden-xs hidden-sm"><a href="/"><img src="/images/rp_logo.png"></a></div>
        <div class="navigation-item hidden-xs hidden-sm"><a class='<%= if @conn.request_path == "/samples" do %> nav-active <%= end %>' href="/samples">SAMPLES</a></div>
        <div class="navigation-item-separator hidden-xs hidden-sm">|</div>
        <div class="navigation-item hidden-xs hidden-sm"><a class='<%= if @conn.request_path == "/instruments" do %> nav-active <%= end %>' href="/instruments">REFURBISHED INSTRUMEMTS</a></div>

        <div class="hamburger hidden-md hidden-lg">
            <div id="hamburger-icon">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
        </div>

      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

      <div class="front-footer">
        <p>COPYRIGHT 2017</p>
      </div>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    
  </body>
</html>
