<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello RedPackProductions!</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      
      <div class="pre-header">
        
      </div>
      
      <header class="header">
        <%# <div class="row">
          <div class="col-xs-"></div>
        </div> %>
        <div class="navigation-item hidden-xs hidden-sm"><a href="#">HOME</a></div>
        <div class="navigation-item hidden-xs hidden-sm"><a href="#">CONTACT</a></div>
        <div class="navigation-item hidden-xs hidden-sm"><a href="#">MEDIA</a></div>
        <div class="navigation-item hidden-xs hidden-sm"><a href="#">RECORDINGS</a></div>
        <div class="navigation-item-logo hidden-xs hidden-sm"><a href="#"><img src="#"></a></div>
        <div class="navigation-item hidden-xs hidden-sm"><a href="#">SAMPLES</a></div>
        <div class="navigation-item hidden-xs hidden-sm"><a href="#">REFURBISHED INSTRUMEMTS</a></div>
      </header>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
