$black: #000;
$mediumBlack: #464646;

$gray: #ebebeb;
$mediumGray: #807F83;
$preHeaderGray: #939180;
$formGray: #ccc;

$navyBlue: #2985b0;
$successGreen: #4EBF76;
$lightGreen: #54E461;
$green: #7ab23f;
$transLightGreen: rgba(84, 228, 97, 0.5);


$error: #aa1c14;
$lightRed: #e83426;

$lightOrange: #ffba02;
$orange: #f39300;