$black: #000;

$gray: #ebebeb;
$mediumGray: #807F83;
$preHeaderGray: #939180;

$navyBlue: #2985b0;
$successGreen: #4EBF76;
$lightGreen: #54E461;


$error: #aa1c14;
$lightRed: #e83426;

$lightOrange: #ffba02;
$orange: #f39300;