/****************************************
		Custom, iPhone Retina
 ****************************************/
@media only screen and (min-width : 320px) {
	.container {
		header{ 
			height: 63px;
			position: fixed;
			// overflow: hidden;
			max-width: 100vw;

			
				.bag {
					position: absolute;
					top: 10px;
					right: 50px;
				}
				.basket-container {
					top: 0;
					right: 0;
				}
			

		}
		.open-basket {
			width: 250px;
		 }
	}
	main {
		margin-top: 60px;
	}
	.content-introduction{
		padding-top: 20px;
	}

	.shop-samples-container{
		button{
			margin: 50px 15px 0px 15px;
		}
	}

	.shop-samples{
		text-align: center;

		.front-shop-samples{
			ul{
				padding-left: 50px;
				width: 100%;
			}
		}
	}

	/* Home Youtube */
	.front-youtube{
		margin-top: 25px;
		ul{
			padding-left: 50px;
		}
	}

	.front-youtube-right-column{
		margin-top: 25px;
		width: 100%;
	}

	.front-youtube-left-column{
		width: 100%;
		text-align: center;
	}

	/* Home Maps */
	.front-google-maps-infobox{
		position: relative;
		top: 0px;
		left: 0px;
		padding: 30px 0px 55px 50px;
	}
	#front-maps{ display: none; }

	/* Content samples */
	.content-package{
 		padding-top: 50px;
 	}

 	.shop-samples-spam{
 		.spam-text-container{
 			h2{
 				margin: 0px 0px 25px 0px;
 				display: block;
 			}
 		}
	 }
	 
	 .container {
		.product-container {

			.big-product {
				.big-image {
					width: 100%;
				}
				.item-description {
					width: 100%;
				}
			}
			.product-items {
				.product-item {
					width: calc(50% - 20px);
				}
			}
		}
	 }   
	 

 	/* Footer */
 	.big-footer{
 		text-align: center;

 		ul{
 			text-align:left;
 		}

 		.big-foot-left, .big-foot-right{
 			float: none;
 			width: 300px;
 			margin: 0px auto;
 		}
 	}
}

/****************************************
	Extra Small Devices, Phones
 ****************************************/
@media only screen and (min-width : 480px) {
	.container {
		header{ 
			height: 63px;
			position: fixed;
		}
	}
	.content-introduction{
		padding-top: 80px;
	}

	.shop-samples-container{
		button{
			margin: 50px 15px 0px 15px;
		}
	}

	.shop-samples{
		text-align: center;
		
		.front-shop-samples{
			max-width: 450px;
			ul{
				padding-left: 10px;
				width: 100%;
			}
		}
	}

	/* Home Youtube */
	.front-youtube{
		margin-top: 25px;
		max-width: 450px;
		ul{
			padding-left: 50px;
		}
	}

	.front-youtube-right-column{
		margin-top: 25px;
		width: 100%;
	}

	.front-youtube-left-column{
		width: 100%;
		text-align: center;
	}

	/* Home Maps */
	.front-google-maps-infobox{
		position: relative;
		top: 0px;
		padding: 30px 30px 55px 30px;
	}
	#front-maps{ display: none; }

	/* Content samples */
	.content-package{
 		padding-top: 50px;
 	}

 	.shop-samples-spam{
 		.spam-text-container{
 			h2{
 				margin: 0px 0px 25px 0px;
 				display: block;
 			}
 		}
	 }
	 
	  
	 .container {
		.product-container {

			.big-product {
				.big-image {
					width: 50%;
				}
				.item-description {
					width: 50%;
				}
			}
			.product-items {
				.product-item {
					width: calc(50% - 20px);
				}
			}
		}
	 }   

 	/* Footer */
 	.big-footer{
 		text-align: center;

 		ul{
 			text-align:left;
 		}

 		.big-foot-left, .big-foot-right{
 			float: none;
 			width: 300px;
 			margin: 0px auto;
 		}
 	}
}

/****************************************
		Small Devices, Tablets
 ****************************************/
@media only screen and (min-width : 768px) {
	.container {
		header{ 
			height: 63px;
			position: fixed;
		}
		.open-basket {
			width: 350px;
		 }
	}
	.content-introduction{
		padding-top: 80px;
	}

	.shop-samples-container{
		button{
			margin: 10px 0px 0px 0px;
		}
	}

	.shop-samples{
		text-align: left;
		.front-shop-samples{
			max-width: 800px;

			ul{
				width: 300px;
			}
		}
	}

	/* Home Youtube */
	.front-youtube{
		margin-top: 25px;
		ul{
			padding-left: 50px;
		}
	}

	.front-youtube-right-column{
		margin-top: 25px;
		width: 100%;
	}

	.front-youtube-left-column{
		width: 100%;
		text-align: center;
	}

	/* Home Maps */
	.front-google-maps-infobox{
		position: absolute;
		top: 60px;
		left: 250px;
		padding: 30px 30px 55px 30px;
	}
	#front-maps{ display: block; }

	/* Content samples */
	.content-package{
 		padding-top: 50px;
 	}
 	.shop-samples-spam{
 		.spam-text-container{
 			h2{
 				margin: 0px 25px;
 				display: inline;
 			}
 		}
	 }
	 
	 .container {
		.product-container {
			.product-items {
				.product-item {
					width: calc(33% - 20px);
				}
			}
		}
	}

 	/* Footer */
 	.big-footer{
 		text-align: left;

 		ul{
 			text-align:left;
 		}

 		.big-foot-left, .big-foot-right{
 			float: left;
 			width: auto;
 			margin: 0px 0px;
 		}
 	}
}

/****************************************
		Medium Devices, Desktops
 ****************************************/
@media only screen and (min-width : 992px) {
	.container {
		header{ 
			height: 105px;
			position: relative;
			overflow: visible;

			.bag {
				position: absolute;
				top: 25px;
				margin-left: 50px;
				right: auto;
			}
		}
		
	}
	main {
		margin-top: 0;
	}
	.content-introduction{
		padding-top: 45px;
	}

	.shop-samples-container{
		button{
			margin: 15px 0px 0px 0px;
		}
	}

	.shop-samples{
		text-align: left;
		.front-shop-samples{
			max-width: 800px;
		}
	}

	/* Home Youtube */
	.front-youtube{
		margin-top: 25px;
		max-width: 700px;
		ul{
			padding-left: 0px;
		}
	}

	.front-youtube-right-column{
		width: 300px;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.front-youtube-left-column{
		width: 425px;
		text-align: left;
	}

	/* Home Maps */
	.front-google-maps-infobox{
		position: absolute;
		top: 60px;
		left: 250px;
		padding: 30px 30px 55px 30px;
	}
	#front-maps{ display: block; }

	/* Content samples */
	.content-package{
 		padding-top: 0px;
 	}
 	.shop-samples-spam{
 		.spam-text-container{
 			h2{
 				margin: 0px 25px;
 				display: inline;
 			}
 		}
	 }
	 
	 .container {
		.product-container {
			.product-items {
				.product-item {
					width: calc(25% - 20px);
				}
			}
		}
	 }   

	 .shop-container {
	
		.product-checkout {
			.order-md-1 {
				.payment-checkout-container {
					margin-top: 50px;
					float: right;
				}
			}
			.order-md-2 {
				float: right;
			}
		}
	}

 	/* Footer */
 	.big-footer{
 		text-align: left;

 		ul{
 			text-align:left;
 		}

 		.big-foot-left, .big-foot-right{
 			float: left;
 			width: auto;
 			margin: 0px 0px;
 		}
 	}
}



/****************************************
		Large Devices, Wide Screens
 ****************************************/
@media only screen and (min-width : 1200px) {
	.container {
		header{ 
			height: 105px;
			position: relative;
			overflow: visible;

			// .bag {
			// 	position: absolute;
			// 	top: 25px;
			// 	margin-left: 50px;
			// 	right: auto;
			// }
		}
	}
	.content-introduction{
		padding-top: 45px;
	}

	.shop-samples-container{
		button{
			margin: 15px 0px 0px 0px;
		}
	}

	.shop-samples{
		text-align: left;
		.front-shop-samples{
			max-width: 800px;
		}
	}

	/* Home Youtube */
	.front-youtube{
		margin-top: 25px;
		max-width: 700px;
		ul{
			padding-left: 0px;
		}
	}

	.front-youtube-right-column{
		width: 300px;
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.front-youtube-left-column{
		width: 425px;
		text-align: left;
	}
	
	/* Home Maps */
	.front-google-maps-infobox{
		position: absolute;
		top: 60px;
		left: 250px;
		padding: 30px 30px 55px 30px;
	}
	#front-maps{ display: block; }

	/* Content samples */
	.content-package{
 		padding-top: 0px;
 	}
 	.shop-samples-spam{
 		.spam-text-container{
 			h2{
 				margin: 0px 25px;
 				display: inline;
 			}
 		}
	 }
	 

 	/* Footer */
 	.big-footer{
 		text-align: left;

 		ul{
 			text-align:left;
 		}

 		.big-foot-left, .big-foot-right{
 			float: left;
 			width: auto;
 			margin: 0px 0px;
 		}
 	}
}




















