@import "mixins";
$bodyBackgroundColor: #000;

body, html{
	height:100%;
}

body{
	background-color: $bodyBackgroundColor;
	font-family: 'PT Sans', sans-serif;
	color: white;
}

/* Layout - Navigation */
.test-border{
	border:1px solid #FFF;
}

.navigation-mobile{
	@include cross-transition(width 0.2s linear)
	// @include cross-transition(right 0.25s linear, opacity 0.25s linear)
	position: absolute;
	top: 0px;
	//right: -200px;
	right: 0px;
	width: 0px;
	height: 100%;
	background-color: black;
	z-index: 1;
	//opacity: 0;
	display: none;

	.navigation-close-btn-container{
		margin: 15px 0px;

		button{
			background-color: black;
			border: 0px;
			font-size: 1.5em;
			float: right;
			margin-right: 15px;
			margin-top: 5px;
		}
	}

	ul{
		list-style-type: none;
		text-align: center;
		margin: 0px;
		padding: 0px;

		li{
			margin: 15px 0px;
			padding: 15px 0px;

			a{
				color: white;
			}
		}
	}
}

.mobile-open{
	//right: 0px;
	//opacity: 1;
	width: 200px;
}

/* Layout - Header */
.navigation-hamburger{
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;

	span{
		@include cross-transition(color 0.2s linear)
		font-size: 2em;
		padding: 5px;
		color: black;
		z-index: 3;
		&:hover{
			color: yellow;
			cursor: pointer;
		}
	}
}

.navigation-desktop{
	border: 1px solid white;
}

.nav-button{
	text-align: center;
	a{
		display: block;
		color: white;
		margin-top: 40px;
	}
}

.parallax-bg-one, .parallax-bg-logo{
	position: relative;
	opacity: 0.65;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .caption{
		position: absolute;
		left: 0;
		top: 50%;
		text-align: center;
		width: 100%;
	}
}

.parallax-bg-logo{
	background-image: url("/images/logo.jpg");
	min-height: 100%;
	width:100%;
	opacity: 1;
}


.parallax-bg-one{
	background-image: url("/images/background-band.jpg");
	min-height: 100%;
}

@media only screen and (max-device-width: 1024px){
	.parallax-bg-one{
		background-attachment: scroll;
	}
}