@import "mixins";
@import "fonts";
@import "colors";
@import "hamburger";
@import "slick";

/****************************************
				Globals
 ****************************************/
 * {
    margin: 0;
    padding: 0;
    border: none;
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clear{ clear: both; }
.success{ color: $successGreen; }
.error{ color: $error; }
.gray{ color: $mediumGray;  }

button{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	-webkit-transition: .1s ease-in-out;
	-moz-transition: .1s ease-in-out;
	-o-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

h1, h2, h3{
	font-family: 'typewriter';
}

p, a{
	font-family: 'Open Sans', sans-serif;
}

.span-space{
	padding: 0px 10px;
}

.span-space-extra{
	padding: 0px 20px;
}

.btn-orange, .btn-red, .btn-green{
	transition: .1s ease-in-out;
	background-color: $lightOrange;
	border: 0px;
	color: white;
	padding: 10px 35px;
	margin-bottom: 15px;
	border-radius: 5px;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;

	&:hover{
		color: white;
		text-decoration: none;
	}
}
.btn-red{ 
	background-color: $error;
	&:hover{
		background-color: $lightRed;
	}
}

.btn-orange{ 
	&:hover{
		background-color: $orange;
	}
}

.btn-green{
	background-color: $successGreen;
	&:hover{
		background-color: $lightGreen;
	}
}


.underconstruction-space{
	margin: 100px 0px;
}

.error-star{
	font-size: 1.5em;
	margin: 0px 0px 0px 5px;
}

.language-container{

	margin-top: 5px;
	margin-right: 50px;
	float: right;

	img{
		margin-right: 5px;
		width: 20px;
		opacity: 0.5;
	}

	.active{
		opacity: 1;
	}
}

/****************************************
			Calendar styles
 ****************************************/

.fc-view{
	table{
		td, th{
			border-color: white;
		}
	}
}

.fc-past, .fc-disabled{
	background-color: $mediumGray;
}

.fc-today{
	background-color: $formGray !important;
}

.fc-today, .fc-future{
	cursor: pointer;
	&:hover{
		background-color: $transLightGreen;
	}
}

.fc-selected{
	background-color: $lightGreen;
}

.fc-disabled{
	cursor: default;
}

/****************************************
			List container
 ****************************************/

.list-container{
	max-width: 600px;
	margin: 0px auto;
	background-color: $navyBlue;
	color: white;
	padding: 15px;
	margin-top: 25px;
	position: relative;

	ul{
		list-style-type: none;
		margin: 0px 0px 0px 0px;
		float: left;

		li{
			padding:5px 0px;
			span{
				padding-right:5px;
			}
		}
	}

	img{
		width: 150px;
		position: absolute;
		top: -35px;
		right: -55px;
	}
}
.green-container {
	width: 100%;
	background: $gray;
	margin-top: -25px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.list-container-green {
	max-width: 960px;
	margin: 0px auto;
	background-color: $green;
	color: white;
	padding: 15px;
	margin-top: 25px;
	position: relative;

	ul{
		list-style-type: none;
		margin: 0px 0px 0px 0px;
		float: left;
		width: 33%;

		li{
			padding:5px 0px;
			span{
				padding-right:5px;
			}
		}
	}

	img{
		width: 150px;
		position: absolute;
		top: -35px;
		right: -55px;
	}
}

.front-refurbished{
	img{
		width: 225px;
		top: -135px;
		right: -80px;
	}
}

.front-shop-samples, .front-youtube{
	background-color: inherit;
	max-width: 750px;
	margin-top: 0px;
	padding-top: 0px;

	ul{
		float: left;
		list-style-type: disc;
		padding: 0px 35px 0px 0px;
		text-align: left;
		li{
			font-family: 'typewriter';
		}
	}
}

/****************************************
			Main ontainer
 ****************************************/

.container{

	width: 100%;
	padding: 0px;

	/****************************************
					Header
 	****************************************/

	.pre-header{
		height: 35px;
		background-color: $black;
	}

	.header-logo-mobile{
		width: 75px;
		position: fixed;
		top: 15px;
		left: 15px;
	}

	header{

		width: 100%;
		text-align: center;
		z-index: 10;
		background-color: white;
		// overflow: hidden;
		
		-webkit-box-shadow: 0px 7px 28px 0px rgba(128,127,131,0.87);
		-moz-box-shadow: 0px 7px 28px 0px rgba(128,127,131,0.87);
		box-shadow: 0px 7px 28px 0px rgba(128,127,131,0.87);

		-webkit-transition: .25s ease-in-out;
		-moz-transition: .25s ease-in-out;
		-o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;

		.navigation-item-mobile{
			width: 100%;
			margin: 15px 0px;
			display: none;
			

			&:first-of-type {
				margin-top: 20vh;
			}
			a{
				color: black;
			}

			.nav-active{
				color: $lightRed;
			}


		}

		.navigation-item, .navigation-item-logo{
			margin: 0px 10px;
			display: inline-block;
			position: relative;

			a{
				color: black;
			}

			.nav-active{
				color: $lightRed;
			}
		}

		.navigation-item-separator{
			margin: 0px 0px;
			display: inline-block;
			color: $mediumGray;
		}

		.navigation-item-logo{

			margin-top: 10px;

			img{
				width: 75px;
			}
		}

		.hamburger{
			position: absolute;
			top: 15px;
			right: 15px;

			.language-container-mobile{

				position: absolute;
				top: calc(100vh - 60px);
				left: -40px;
				display: none;

				ul{
					list-style-type: none;
					padding: 0px;
					margin: 0px;
					li{
						display: inline;
						margin-right: 5px;
						img{
							width: 30px;
							opacity: 0.5;
						}
					}
				}

				.active{
					opacity: 1;
				}
			}
		}
	}

	.header-open{
		height: 100vh;
		overflow: auto;

		.navigation-item-mobile{
			display: block;
		}
	}




	/****************************************
				Basket
	 ****************************************/

	 .basket-container{
		position: absolute;
		top: -27px;
		right: -50px;
		width: 40px;
		height: 40px;
		border-radius: 20px;
		background-color: black;
		color: black;
		padding: 15px;
		transition: width 0.5s, height 0.5s, top 0.2s;
		
		.basket-icon{
			color: white;
			position: absolute;
			top: 10px;
			right: 10px;
			background: green;
			width: 20px;
			height: 20px;
			background: url(../images/svg/basket.svg);
			background-repeat: no-repeat;
		  
		  &:hover{
			color: red;
			cursor: pointer;
		  }
		}
		
		.basket-count{
		  width: 20px;
		  height: 20px;
		  z-index: 2;
		  background-color: red;
		  border-radius: 10px;
		  text-align: center;
		  position: absolute;
		  top: -5px;
		  right: -5px;
		  
		  p{
			padding: 0px;
			margin: 4px 0px 0px -2px;
			color: white;
			font-size: 0.7em;
		  }
		}
		
		.basket-content{
		  
		  opacity: 0;
		  width: 0px;
		  overflow: hidden;
		  transition: opacity 0.2s;
		  transition-delay: 0.4s;
		  
		  .basket-products{
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			height: 200px;
			overflow-y: auto;
	
			ul{
			  list-style-type: none;
			  margin: 0px;
			  padding: 0px;
			  li{
	
				width: 100%;
				padding: 10px 0px;
				
				input{
				  margin-right: 5px;
				  width: 50px;
				  height: 20px;
				  background: black;
				  border: none;
				}
				
				.remove-product{
				//   color: red;
					margin-right: 5px;
					margin-top: 5px;
					width: 12px;
					height: 12px;
					background: url(../images/svg/cross.svg);
					background-repeat: no-repeat; 
					position: absolute;
					left: 15px;
					display: none;
					cursor: pointer;

				//   &:hover{
				// 	color: orange;
				// 	cursor: pointer;
				//   }
				}
	
				.amount{
				  float: right;
				  margin-right: 5px;
				}
			  }
			}
		  }
		  
		  .basket-total-amount{
			margin-top: 5px;
			float: right;
		  }
	
		  .basket-total{
			margin-top: 5px;
			float: left;
		  }
		  .basket-clear {
			background-color: #FFF;
			color: #000;
			border: 0px;
			padding: 5px 10px;
			border-radius: 5px;
			float: left;
		  }
		  .basket-checkout{
			background-color: red;
			color: white;
			border: 0px;
			padding: 5px 10px;
			border-radius: 5px;
			float: right;
	
			&:hover{
			  background-color: orange;
			  cursor: pointer;
			}
		  }
		}
	  }

	
	.open-basket{
		width: calc(100vw - 70px);
		max-width: 350px;
		height: 360px;
		color: white;
		
		.basket-content{
		opacity: 1;
		width: 100%;
		}

		.remove-product {
			display: block !important;
		}
	}

	.basket-add {
		margin-top: 20px;
	}

	
	 

	

	/****************************************
			Content Introduction
 	****************************************/

	.content-introduction{

		width: 100%;
		background: $gray;
		padding-bottom: 75px;
		position: relative;
		overflow: hidden;

		.introduction-text{
			max-width: 600px;
			margin: 0px auto;
			text-align: center;
		}

		.mic-left{
			position: absolute;
			left: 0px;
			top: 100px;
			width: 300px;
		}

		.mic-right{
			position: absolute;
			right: -18px;
			top: 87px;
			width: 325px;
		}
	}

	/****************************************
			Content Packages
 	****************************************/

 	.package-container{

 		background-color: white;
 		width: 100%;
 		position: relative;
 		text-align: center;

 		a{
			font-family: 'typewriter';
			font-size: 2em;
			margin: -105px 0px 30px 0px;
			display: block;
			color: white;
			margin-top: 10px;
		} 		

 		.introduction-items{
			max-width: 800px;
			margin: 0px auto 0px auto;
			text-align: center;
			position: relative;
			top: -25px;
			
			.intro-item{
				width: 180px;
				display: inline-block;
				margin: 0px 10px 20px 0px;
				text-align: center;
				background-color: white;
				-webkit-box-shadow: 3px 7px 24px -11px rgba(0,0,0,0.75);
				-moz-box-shadow: 3px 7px 24px -11px rgba(0,0,0,0.75);
				box-shadow: 3px 7px 24px -11px rgba(0,0,0,0.75);

				img{
					width: 100%;
					height: 150px;
				}

				h2, p{
					text-align: left;
					margin-left: 15px;
				}

				h2{
					padding: 0px;
					margin-top:0px;
					font-family: 'Open Sans', sans-serif;
					font-size: 1.7em;
					font-weight: 600;
					height: 55px;
				}

				ul{
					padding-left: 30px;
					margin-bottom: 30px;
					height: 80px;
					li{
						text-align: left;
					}
				}

				a{
					display: inline-block;
					font-size: 1em;
					padding: 10px 0px;
					width: 166px;
				}

				.intro-subtitle{
					font-weight: 600;
					padding: 0px;
					margin-top: 15px;
					margin-bottom: 0px;
				}

				.full-price{
					font-weight: 600;
					text-decoration: line-through;
				}

				.real-price{
					font-weight: 600;
					font-size: 1.5em;
				}

				.intro-price{
					margin-bottom: 0px;
				}

				.intro-btw{
					padding-top: 0px;
					margin-top: 0px;
				}

			}
		}
 	}

 	/****************************************
			Content Productions
 	****************************************/

 	.production-container-intro{

 		background: $gray;
 		

 		.introduction-latest-text{
			max-width: 600px;
			text-align: center;
			margin: 0px auto;
			padding: 50px 0px 175px 0px;
			margin-bottom: 0px				
		}

		.latest-speakers-container{
			width: 100%;
			position: absolute;
			left: 0px;

			.speakers-right{
				position: absolute;
				top: -272px;
				right: 0px;
				width: 100px;
			}

			.speakers-left{
				position: absolute;
				top: -248px;
				left: -7px;
				width: 200px;
			}
		}
 	}

 	.production-container{

 		background-color: white;
 		width: 100%;
 		position: relative;
 		text-align: center;
 		padding-top: 5px;

 		a{
			font-family: 'typewriter';
			font-size: 2em;
			margin: 30px 0px 30px 0px;
			display: block;
			color: $black;
			cursor: pointer;
		}

		.latest-productions{
			max-width: 800px;
			margin: 0px auto;
			background-color: white;
			position: relative;
			padding: 15px;
			margin-top: -120px;
		}

 	}

	/****************************************
			Content Testimonials
 	****************************************/	

	.testimonials-container{
		width: 100%;
		color: white;
		height: 380px;
		background-color: $error;
		position: relative;
		text-align: center;

		.slick-prev, .slick-next{
			position: absolute;
			bottom: 15px;
			z-index: 6;
			width: 40px;
			height: 40px;
			background-color: rgba(0,0,0, 0.6);
			border: 0px;
			font-size: 1.5em;

			&:focus{
				outline: 0;
			}
			&:hover{
				background-color: rgba(0,0,0, 1);
			}
		}

		.slick-prev{
			left: 15px;
		}

		.slick-next{
			right: 15px;
		}

		.slick-dots{
			position: relative;
			z-index: 5;
			margin: -38px 0px 0px 0px;
			padding: 0px;
			list-style-type: none;
			li{
				display: inline-block;
				margin: 0px 10px;
				padding: 0px;

				button{
					color: rgba(0,0,0, 0);
					width: 15px;
					height: 15px;
					background-color: rgba(255,255,255, 0.7);
					border: 0px;
					border-radius: 15px;
					&:focus{
						border: 0px;
						outline:0;
					}

					&:hover{
						background-color: rgba(255,255,255, 1);
					}
				}	
			}

			.slick-active{
				button{
					width: 15px;
					height: 15px;
					background-color: $orange;
					border: 0px;
					border-radius: 15px;
				}	
			}
		}

		.testimonial{
			width: 100%;
			height: 380px;
			position: relative;
			

			.testimonial-image{
				position: absolute;
				right: 0px;
				top: 0px;
				width: 412px;
				z-index: -1;
				img{
					width: 100%;
				}
			}

			.testimonial-details{
				max-width: 600px;
				height: 250px;
				margin: 68px auto 0px auto;
				background-color: rgba(0,0,0, 0.9);
				text-align: center;

				h2{
					display: inline-block;
					margin-top: 60px;
				}
				p{
					display: block;
					margin-top: 25px;
					font-size: 1.2em;
				}
			}
		}
	}

	/****************************************
			Content instruments
 	****************************************/

	.shop-instrument-container{
		width: 100%;
		background-color: $gray;
		padding-bottom: 50px;
		font-family: 'typewriter';

		.shop-instrument-title{
			max-width: 600px;
			margin: 0px auto;
			text-align: center;
			padding:50px 10px 0px 10px;

			h1{
				margin-top: 0px;
			}

			a{
				display: inline-block;
				margin-top: 25px;
			}
		}
	}

	/****************************************
			Content Samples
 	****************************************/

	.shop-samples-container{
		width: 100%;
		background-color: $mediumBlack;
		color: white;
		padding: 50px 0px 50px 0px;

		.shop-samples{
			max-width: 800px;
			margin: 0px auto;
			
			h2{
				font-size: 2.6em;
			}

			img{
				width: 300px;
				margin: 0px 50px 0px 0px;
				float: left;
			}

			a{
				display: inline-block;
				margin-top: 15px;
			}
		}
	}

	/****************************************
			Content Youtube
 	****************************************/

	.front-youtube-container{
		width: 100%;
		background-color: $lightRed;
		color: white;
		padding: 50px 0px;

		.front-youtube-content{
			max-width: 700px;
			margin: 0px auto;
			position: relative;
			padding-bottom: 25px;
			
			.front-youtube-left-column{

				h2{
					font-size: 2.6em;
					margin: 0px 0px 5px 0px;
				}

				img{
					width: 125px;
					height: 75px;
					margin: 0px 5px 30px 0px;
				}

			}

			.front-youtube-right-column{
				text-align: center;

				img{
					margin-top: -15px;
					margin-bottom: 14px;
					width: 200px;
					height: 200px;
				}

				a{
					margin: 15px 0px;
				}
			}
		}
	}

	/****************************************
			Content Google Maps
 	****************************************/

	.front-google-maps-container{
		width: 100%;
		position: relative;

		#front-maps{
			width: 100%;
			height: 400px;
		}

		.front-google-maps-infobox{
			background-color: white;

			h4{
				padding-bottom: 10px;
			}

			p{
				padding: 0px;
				margin: 0px;
			}

			.infobox-contact{
				margin-top: 20px;
			}
		}
	}

	/****************************************
				Samples page
 	****************************************/
 	.content-samples{
 		width: 100%;

 		.shop-samples-container{
 			background-color: $orange;
			.shop-samples{
				max-width: 800px;
				margin: 0px auto;
				position: relative;
				
				h2, h3{
					margin:0px;
				}

				img{
					width: 250px;
					margin-right: 25px;
				}

				.subscribe-arrow{
					width: 40px;
					position: absolute;
					bottom: 60px;
					right: 450px;
				}

				.mobile-subscribe-text{
					text-align: center;
					margin-top: 25px;
				}

				.sample-subscribe-text{
					
					margin: 30px 210px 0px 0px;
					float: right;

					h3{
						width: 275px;
					}
				}
			}
		}


		input{
			padding: 8px 5px;
			margin-right: 10px;
			margin-top: 70px;
			width: 250px;
			color: black;
		}
 	}

 	/****************************************
				Samples spam
 	****************************************/
 	.shop-samples-spam{
 		width: 100%;
 		background-color: $gray;

 		.spam-text-container{
 			max-width: 800px;
 			margin: 0px auto;
 			text-align: center;
 			padding: 50px 0px;

 			span{
 				padding-right: 40px;
 			}

 			span:before{
 				position: absolute;
 				top: -26px;
 				left: 0px;
 			}

 			h2{
 				font-family: 'Open Sans', sans-serif;
 			}

 			.spam-text-left, .spam-text-right{
 				margin: 25px 25px;
 				max-width: 300px;
 				display: inline-block;
 				text-align: left;
 			}
 		}
 	}

 	/****************************************
				Instruments page
 	****************************************/
 	.content-instruments{
 		width: 100%;
 	}

 	/****************************************
					Blog Page
 	****************************************/
 	.content-blog{

		width: 100%;
		background: $gray;
		position: relative;
		text-align: center;

		.introduction-text{
			margin-bottom: 25px;

			h1{
				margin: 0px;
				padding: 25px 0px 0px 0px;
			}

			@include breakpoint(xs){
				padding-top: 75px;
			}
			@include breakpoint(sm){
				padding-top: 75px;
			}
			@include breakpoint(md){
				padding-top: 25px;
			}
		}

		.blog-content-container{
			max-width: 960px;
			margin: 0px auto;

			.blog-header{
				width: 100%;
				background-color: $mediumGray;
				position: relative;

				img{
					max-width: 100%;
				}

				.blog-header-title{
					position: absolute;
					bottom: 0px;
					text-align: center;
					width: 100%;
					background-color: rgba(0,0,0,0.8);
					h1{
						color: white;
						padding: 10px;
					}
				}
			}

			.blog-content{
				text-align: left;
				padding: 25px;
				background-color: white;

				.blog-subtitle{
					text-align: center;
					width: 100%;
					margin: 15px auto;
					i{
						font-size: 24px;
					}
				}

				share-button{
					padding: 15px;
					margin: 25px 0px 0px 0px;
					background-color: $error;
					color: white;
					float: right;
				}
			}
		}
		

		.blog-list-container{

			max-width: 1080px;
			margin: 0px auto 0px auto;
			text-align: center;

			@include breakpoint(xs){
				padding: 0px 15px 75px 15px;
			}
			@include breakpoint(sm){
				padding: 0px 5px 75px 5px;
			}

			.blog-item{
				
				padding: 2px;
				float: left;
				height: 350px;
				background-color: white;
				position: relative;
				color: black;

				-webkit-box-shadow: 3px 7px 24px -11px rgba(0,0,0,0.75);
				-moz-box-shadow: 3px 7px 24px -11px rgba(0,0,0,0.75);
				box-shadow: 3px 7px 24px -11px rgba(0,0,0,0.75);
				

				-webkit-transition: box-shadow .2s ease-in-out;
				-moz-transition: box-shadow .2s ease-in-out;
				-o-transition: box-shadow .2s ease-in-out;
				transition: box-shadow .2s ease-in-out;

				img{
					height: 150px;
					@include breakpoint(xs){
						padding-top: 25px;
						width: 250px;
					}
					@include breakpoint(sm){
						padding-top: 0px;
						width: 100%;
					}
					@include breakpoint(md){
						padding-top: 0px;
						width: 100%;
					}
				}

				.blog-img-placeholder{
					width: 100%;
					height: 150px;
					background-color: $gray;

					p{
						font-family: 'typewriter';
						font-size: 18px;
						color: $mediumGray;
						padding-top: 65px;
					}
				}

				.blog-button{
					position: absolute;
					bottom: 0px;
					background-color: $error;
					opacity: 0;
					height: 50px;
					text-align: center;
					width: 100%;
					padding-top: 15px;
					left: 0px;
					color: white;

					-webkit-transition: opacity .2s ease-in-out;
					-moz-transition: opacity .2s ease-in-out;
					-o-transition: opacity .2s ease-in-out;
					transition: opacity .2s ease-in-out;
				}

				@include breakpoint(xs){
					margin: 16px 0px 0px 0px;
					width: 100%;

					&:hover{
						cursor: pointer;
						-webkit-box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						-moz-box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						.blog-button{
							opacity: 0.9;
						}
					}
				}
				@include breakpoint(sm){
					margin: 16px 8px 0px 8px;
					width: 250px;

					&:hover{
						cursor: pointer;
						-webkit-box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						-moz-box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						.blog-button{
							opacity: 0.9;
						}
					}
				}
				@include breakpoint(md){
					margin: 16px 8px 0px 8px;
					width: 250px;

					&:hover{
						cursor: pointer;
						-webkit-box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						-moz-box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						box-shadow: 3px 7px 26px -7px rgba(232, 52, 38,1);
						.blog-button{
							opacity: 0.9;
						}
					}
				}
			}
		}
	}


	/****************************************
				Shop Page
	 ****************************************/
	.product-container{
		.product-filter {
			a {
				font-size: 1em;
				margin: 0px;
				display: block;
				color: $black;
			}
			span {
				font-size: 1.2em;
				margin-bottom: 0px;
				font-weight: bold;
				text-transform: uppercase;
				display: block;
				height: 70px;
				position: absolute;
				line-height: 70px;
				margin-left: 20px;
			}

			.styled-select {
				background: url(../images/svg/arrow-down.svg);
				background-position: top 5px right 0px;
				background-repeat: no-repeat;
				background-color: #FFF;
				height: 50px;
				overflow: hidden;
				font-family: 'museo300';
				padding-left: 6px;
				width: 50%;
				margin: 10px auto;
				top: 10px;
				position: relative;

				select {
					background: transparent;
					border: none;
					font-size: 16px;
					height: 50px;
					padding: 0;
					width: calc(100% + 20px);
					-webkit-appearance: none;
					font-size: 1.2em;
					font-family: 'Open Sans', sans-serif;
					text-transform: uppercase;
					font-weight: bold;
					outline: none;
				}
			}
		}
	}

 	.product-container{

 		background-color: $gray;
 		width: 100%;
 		position: relative;
		text-align: center;
		margin-top: -10px;

 		a{
			font-size: 1em;
			margin: 20px;
			display: block;
			color: white;
		} 		

		.product-filter,
		.product-navigation {
			background-color: #FFF;
			max-width: 960px;
			margin: 0px auto -5px auto;
			text-align: center;
			position: relative;
			height: 70px;
			top: -35px;
		}
		.product-navigation {
			margin: 0px auto 20px auto;
			top: 0;
		}
 		.product-items{
			max-width: 980px;
			margin: 0px auto 0px auto;
			text-align: center;
			position: relative;
			
			.product-item{
				width: calc(25% - 20px);
				display: inline-block;
				margin: 0px 10px 30px 10px;
				text-align: center;
				background-color: white;
				float: left;
				
				.image-container {
					height: 185px;
					width: 100%;
					margin-top: 20px;
				
					img{
						max-width: calc(100% - 40px);
						max-height: 184px;			
					}
				}

				h2{
					font-size: 1.75rem;
					padding: 0px 20px;
					font-family: 'Open Sans', sans-serif;
					text-transform: uppercase;
					font-weight: bold;
					min-height: 80px;
    				max-height: 80px;
				}

				.product-subtitle{
					color: $mediumGray;
					padding: 0 20px;
					font-size: 1.1rem ;
					text-transform: uppercase;
				}

				.product-price{
					font-size: 1.2em;
					font-weight: 600;
					margin-bottom: 0px;
					font-weight: bold; 
					text-decoration: line-through;

					span {
						display: inline-block;
					}
				}

				.real-price{
					color: $lightRed;
					font-size: 1.5em;
					display: inline-block;
				}

				.product-btw{

				}
				// &:nth-child(4n) {
				// 	margin-right: 0;
				// }

			}
			
		}

		// SHOP DETAIL
		.big-product {
			position: relative;
			background: #FFF;
			margin: 0 10px 20px 10px;

			.big-image {
				display: inline-block;
				float: left;
				width: 50%;
				padding: 50px;

				img {
					max-width: calc(100% - 20px);
				}
			}
			.item-description {
				display: inline-block;
				padding: 50px;
				width: 50%;
				text-align: left;

				.product-subtitle {
					text-transform: uppercase;
					font-size: 1.1rem;
					color: $mediumGray;
				}

				h2 {
					font-size: 1.9rem;
					font-family: 'Open Sans', sans-serif;
					text-transform: uppercase;
					margin-top: 0;
				}

				p {
					font-size: 1.2rem
				}

				.product-price {
					font-size: 1.2em;
					font-weight: 600;
					margin-bottom: 0px;
					font-weight: bold;
					text-decoration: line-through;
				
					.real-price {
						color: #e83426;
						font-size: 1.5em;
						display: inline-block;
					}
				}

				audio {
					width: 100%;
					margin-top: 20px;
				}

				a {
					display: inline-block;
					margin: 0;
					margin-top: 20px;
					position: absolute;
					bottom: 50px;
				}
			}
		}

	 }
	 
	/****************************************
				Shop Checkout page
 	****************************************/

	 .shop-container {
		background-color: #ebebeb;
		width: 100%;
		position: relative;
		text-align: center;
		margin-top: -20px;
		padding-bottom: 60px;
		min-height: calc(100vh - 180px);


		.product-checkout {
			background-color: #FFF;
			max-width: 960px;
			margin: 20px auto;
			text-align: left;
			position: relative;
			padding: 30px 50px;
			top: 40px;
			min-height: 50vh;
		}

		.follow-up {
			text-align: center
		}
	}




 	/****************************************
				Contact page
 	****************************************/
 	.contact-form-container{
 		max-width: 600px;
 		margin: 0px auto;
 		padding: 15px;

 		.hour-container{

 			.hour{
 				border: 1px solid white;
 				text-align: center;
 				width: 75px;
 				margin: 15px;
 				float: left;
 				
 				p{
 					padding: 15px;
 					margin: 0px;
 				}

 				input{
 					display: none;
 				}

 				&:hover{
 					background-color: $transLightGreen;
 					cursor: pointer;
 				}

 			}

 			.hour-selected{
 				background-color: $lightGreen;
 			}

 			.reserved{
 				background-color: $formGray;
 			}
 		}

 	}

 	/****************************************
				Package page
 	****************************************/

 	.content-package{
 		width: 100%;
 		background-color: $orange;
 		color: white;

 		.package-container{
 			padding: 15px;
 			max-width: 800px;
 			margin: 0px auto;
 			background-color: $orange;
 			text-align: left;

 			h1{
 				margin-top: 30px;
 			}

 			img{
 				width: 300px;
 				float: right;
 				margin: 35px 0px 15px 15px;
 			}
 		}
 	}

 	.package-booking{
 		background-color: $orange;
 		padding-top: 35px;
 		width: 100%;
 		color: white;

 		.introduction-text{
			max-width: 600px;
			margin: 0px auto;
			text-align: center;
		}

 	}

 	/****************************************
				FAQ page
 	****************************************/

 	.faq-container{
 		max-width: 900px;
 		margin : 0px auto;
 		padding: 0px 25px;

 	}

	/****************************************
					Footer
 	****************************************/

 	.big-footer{
 		width: 100%;
 		background-color: $lightRed;
 		color: white;
 		padding: 50px 0px;

 		.big-footer-container{
 			max-width: 800px;
 			margin: 0px auto;
 			position: relative;

 			ul{
	 			list-style-type: none;
	 			padding: 0px;

	 			&:first-child{
	 				margin-right: 150px;
	 			}
	 		}

	 		h1{
	 			margin: 0px 0px 50px 0px;
	 		}

	 		.big-footer-subscribe{
	 			height: 230px;
	 			width: 210px;
	 			position: absolute;
	 			top: 0px;
	 			right: 0px;
	 			
	 			h3{
	 				width: 120px;
	 				text-align: center;
	 				position: absolute;
	 				top: 0px;
	 				left: -88px;
	 			}

	 			button{
	 				position: absolute;
	 				bottom: 0px;
	 				left: -30px;
	 				z-index: 3;
	 			}

	 			.footer-subscribe-arrow{
	 				position: absolute;
	 				bottom: 50px;
	 				left: -74px;
	 				width: 30px;
	 			}

	 			.footer-subscribe-logo{
	 				position: absolute;
	 				top: 0px;
	 				right: 0px;
	 				width: 200px;
	 				z-index: 1;
	 			}
	 		}
 		}
 	}

	.front-footer{
		width: 100%;
		text-align: center;
		
		p{
			padding: 15px 0px 5px 0px;
		}
	}
}


/****************************************
			Animated Checks
****************************************/

.svg-box {
    display:inline-block;
    position: relative;
    width:150px;
}

.green-stroke {
    stroke: $green;
	max-width: 150px;
}

.red-stroke {
    stroke: $lightRed;
	max-width: 150px;
}

.yellow-stroke {
    stroke: $orange;
	max-width: 150px;
}


.circular circle.path {
    stroke-dasharray: 330;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: 0.7s draw-circle ease-out;
}

/*------- Checkmark ---------*/
.checkmark{
	stroke-width: 6.25;
    stroke-linecap: round;
	position:absolute;
    top: 56px;
    left: 49px;
    width: 52px;
    height: 40px;
}

.checkmark path {
    animation: 1s draw-check ease-out;
}

@keyframes draw-circle {
    0% {
        stroke-dasharray: 0,330;
        stroke-dashoffset: 0;
        opacity: 1;
    }

    80% {
        stroke-dasharray: 330,330;
        stroke-dashoffset: 0;
        opacity: 1;
    }

    100%{
        opacity: 0.4;
    }
}

@keyframes draw-check {
    0% {
        stroke-dasharray: 49,80;
        stroke-dashoffset: 48;
        opacity: 0;
    }

    50% {
        stroke-dasharray: 49,80;
        stroke-dashoffset: 48;
        opacity: 1;
    }

    100% {
        stroke-dasharray: 130,80;
        stroke-dashoffset: 48;
    }
}

/*---------- Cross ----------*/

.cross {
    stroke-width:6.25;
    stroke-linecap: round;
    position: absolute;
    top: 54px;
    left: 54px;
    width: 40px;
    height: 40px;
}

.cross .first-line {
    animation: 0.7s draw-first-line ease-out;
}

.cross .second-line {
    animation: 0.7s draw-second-line ease-out;
}

@keyframes draw-first-line {
    0% {
        stroke-dasharray: 0,56;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 0,56;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 56,330;
        stroke-dashoffset: 0;
    }
}

@keyframes draw-second-line {
    0% {
        stroke-dasharray: 0,55;
        stroke-dashoffset: 1;
    }

    50% {
        stroke-dasharray: 0,55;
        stroke-dashoffset: 1;
    }

    100% {
        stroke-dasharray: 55,0;
        stroke-dashoffset: 70;
    }
}

.alert-sign {
    stroke-width:6.25;
    stroke-linecap: round;
    position: absolute;
    top: 40px;
    left: 68px;
    width: 15px;
    height: 70px;
    animation: 0.5s alert-sign-bounce cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.alert-sign .dot {
    stroke:none;
    fill: #FFC107;
}

@keyframes alert-sign-bounce {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}


@import "responsive";