<div class="content-introduction">
  
  <div class="introduction-text">
    <h1><%= dgettext("general", "navigation-instruments") %></h1>
    <h3><%= dgettext("general", "soon") %></h3>
  </div>

  <div class="underconstruction-space"></div>

</div>

<%= render "big_footer.html" %>