<div class="content-introduction">
  
  <div class="introduction-text">
    <h1>Reservation complete!</h1>
  </div>

  <div class="underconstruction-space"></div>

</div>

<%= render "big_footer.html" %>