<div class="content-introduction">
  
  <div class="introduction-text">
    <h1>Reservation has been sent</h1>
    <h3>We will contact you as soon as possible!</h3>
  </div>

  <div class="underconstruction-space"></div>

</div>

<%= render(RedPackProductionsWeb.LayoutView, "big_footer.html") %>